/* Copyright 2013 Michael Bostock. All rights reserved. Do not copy. */

@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
  min-width: 1040px;
}

.ocks-org body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 960px;
}

.ocks-org header,
.ocks-org footer,
.ocks-org aside,
.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  font-family: "PT Sans", sans-serif;
}

.ocks-org h1,
.ocks-org h2,
.ocks-org h4 {
  color: #000;
}

.ocks-org h3 {
  color: #AAAAAA;
  font-weight: normal;
}

.ocks-org header,
.ocks-org footer {
  color: #636363;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2, h3 {
  margin-top: 2em;
}

h1, h2, h3 {
  text-rendering: optimizeLegibility;
}

h2 a[name],
h2 a[id] {
  color: #ccc;
  right: 100%;
  padding: 0 .3em;
  position: absolute;
}

header,
footer {
  font-size: small;
}

.ocks-org header aside,
.ocks-org footer aside {
  float: left;
  margin-right: .5em;
}

.ocks-org header aside:after,
.ocks-org footer aside:after {
  padding-left: .5em;
  content: "/";
}

footer {
  margin-top: 8em;
}

h1 ~ aside {
  font-size: small;
  right: 0;
  position: absolute;
  width: 300px;
}

.attribution {
  font-size: small;
  margin-bottom: 2em;
}

body > p, li > p {
  line-height: 1.5em;
      font-family: "PT Sans", sans-serif;

}

body > p {
  width: 720px;
}

body > blockquote {
  width: 640px;
}

blockquote q {
  display: block;
  font-style: oblique;
}

ul {
  padding: 0;
}

li {
  width: 690px;
  margin-left: 30px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

blockquote q {
  line-height: 1.5em;
  display: inline;
}

blockquote q:before,
blockquote q:after {
  content: "";
}

/* start of additional CSS for our languages.html vis */

#selectList, #selectList_chosen {
    margin-left: -180px;
    margin-top: 40px;
    margin-bottom: -80px;
    position: absolute;
    font-family: "PT Sans", sans-serif;

}

#description {
  width: 100%;
  position: relative;
  margin-top: 40px;
/*  font-family: "PT Serif", serif;
*/
  font-family: "PT Sans", sans-serif;
}

#map_hint{
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-family: "PT Sans", sans-serif;
}

.smoothScroll {
  text-decoration: none;
  color: #AAAAAA;
}

a#map_hint.smoothScroll:hover {
  color: rgba(122, 122, 122, 1);
}


#names {
  font-size: small;
  float: right;
  margin-top: -8px;
  margin-right: -8px;
  font-family: "PT Sans", sans-serif;

}

#radiusKey {
  font-size: 10px;
  padding: 5px 0px 5px 0px;
  margin-left: 3px;

/*  margin-bottom: -30px;
  margin-left: 40px;*/
  color: #777;
}
    
#display_box{
    width: 30%;
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: -80px;
    position: absolute;
    display: none;
    padding: 8px;
    border: 2px solid black;
    background-color: rgba(122, 122, 122, .1);
}    

#chart {
  margin-top: 15px;
  margin-left: -40px;
  height: 506px;
}

#chartScale {
  display: block;
/*  margin-left: 50px;*/
  margin-right: none;
  padding: none;
  width: 580px;
  float: left;
  font-size: 12px;
  font-family: "PT Sans", sans-serif;
}

#instructions {
/*  font-family: "PT Serif", serif;
*/  
  font-family: "PT Sans", sans-serif;
  display: block;
  float: left;
  margin-left: 30px;
  font-size: 12px;
  width: 345px;
}

#container, #map {
  position: relative;
  margin-top: 30px; 
  width: 930px; 
  height: 400px;
}

text {
  font-size: 10px;
  font-family: "PT Serif", serif;
}

#subtitle {
  margin-top: -10px;
  width: 440px;
  float: left;
  padding: 0px;
  margin-bottom: 0px;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.selected, .start_selection {
  stroke: black;
  opacity: 1;
}

.unselected {
  stroke: black;
  opacity: 0.3;
}

.datamaps-hoverover {display: none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; } 
.hoverinfo {padding: 4px; border-radius: 1px; background-color: #FFF; box-shadow: 1px 1px 5px #CCC; font-size: 12px; border: 1px solid #CCC;
